---
- name: "prometheus | Install the required packages in Redhat derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_facts']['os_family'] == 'RedHat'"
  block:
    - name: "prometheus | Update dnf cache"
      ansible.builtin.dnf:
        update_cache: "yes"
    - name: "{{ 'prometheus | Install ' + lookup('ansible.builtin.vars',
        'prometheus_package_name') + ' package with dnf' }}"
      ansible.builtin.dnf:
        name: "{{ lookup('ansible.builtin.vars', 'prometheus_package_name') }}"
        state: "{{ lookup('ansible.builtin.vars',
          'prometheus_package_state') }}"
- name: "prometheus | Install the required packages in Debian derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_facts']['os_family'] == 'Debian'"
  block:
    - name: "prometheus | Update apt cache"
      ansible.builtin.apt:
        update_cache: "yes"
    - name: "{{ 'prometheus | Install ' + lookup('ansible.builtin.vars',
        'prometheus_package_name') + ' package with apt' }}"
      ansible.builtin.apt:
        name: "{{ lookup('ansible.builtin.vars', 'prometheus_package_name') }}"
        state: "{{ lookup('ansible.builtin.vars',
          'prometheus_package_state') }}"
- name: "prometheus | Install the required packages in ArchLinux derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_facts']['os_family'] ==
      'Archlinux'"
  block:
    - name: "prometheus | Update pacman cache"
      community.general.pacman:
        update_cache: "yes"
    - name: "{{ 'prometheus | Install ' + lookup('ansible.builtin.vars',
        'prometheus_package_name') + ' package with pacman' }}"
      community.general.pacman:
        name: "{{ lookup('ansible.builtin.vars', 'prometheus_package_name') }}"
        state: "{{ lookup('ansible.builtin.vars',
          'prometheus_package_state') }}"
