---
- name: "prometheus | Reload Prometheus service"
  ansible.builtin.systemd:
    name: "{{ hostvars[inventory_hostname]['prometheus_service'] }}"
    state: "reloaded"
  listen: "Reload Prometheus"
  when:
    - "lookup('ansible.builtin.vars', 'prometheus_service_settings_result')
      is not defined or (lookup('ansible.builtin.vars',
      'prometheus_service_settings_result') is defined and
      lookup('ansible.builtin.vars',
      'prometheus_service_settings_result') is not changed)"
    - "hostvars[inventory_hostname]['prometheus'] is defined"
    - "hostvars[inventory_hostname]['prometheus']
      not in ['', [], '[]', None]"
    - "hostvars[inventory_hostname]['prometheus'] |
      community.general.json_query(lookup('ansible.builtin.vars',
      'prometheus_reload', default='')) == 'true'"
  vars:
    prometheus_reload: "[].reload[] | map(&prometheus || 'false', @) | [0]"
- name: "prometheus | Restart Prometheus service"
  ansible.builtin.systemd:
    name: "{{ hostvars[inventory_hostname]['prometheus_service'] }}"
    daemon_reload: "yes"
    state: "restarted"
  listen: "Restart Prometheus"
  when:
    - "hostvars[inventory_hostname]['prometheus'] is defined"
    - "hostvars[inventory_hostname]['prometheus']
      not in ['', [], '[]', None]"
    - "hostvars[inventory_hostname]['prometheus'] |
      community.general.json_query(lookup('ansible.builtin.vars',
      'prometheus_restart', default='')) == 'true'"
  vars:
    prometheus_restart: "[].restart[] | map(&prometheus || 'false', @) | [0]"
- name: "prometheus | Reload Alertmanager service"
  ansible.builtin.systemd:
    name: "{{ hostvars[inventory_hostname]['alertmanager_service'] }}"
    state: "reloaded"
  listen: "Reload Alertmanager"
  when:
    - "lookup('ansible.builtin.vars', 'alertmanager_service_settings_result')
      is not defined or (lookup('ansible.builtin.vars',
      'alertmanager_service_settings_result') is defined and
      lookup('ansible.builtin.vars',
      'alertmanager_service_settings_result') is not changed)"
    - "hostvars[inventory_hostname]['alertmanager'] is defined"
    - "hostvars[inventory_hostname]['alertmanager']
      not in ['', [], '[]', None]"
    - "hostvars[inventory_hostname]['alertmanager'] |
      community.general.json_query(lookup('ansible.builtin.vars',
      'alertmanager_reload', default='')) == 'true'"
  vars:
    alertmanager_reload: "[].reload[] | map(&alertmanager || 'false', @) | [0]"
- name: "prometheus | Restart Alertmanager service"
  ansible.builtin.systemd:
    name: "{{ hostvars[inventory_hostname]['alertmanager_service'] }}"
    daemon_reload: "yes"
    state: "restarted"
  listen: "Restart Alertmanager"
  when:
    - "hostvars[inventory_hostname]['alertmanager'] is defined"
    - "hostvars[inventory_hostname]['alertmanager']
      not in ['', [], '[]', None]"
    - "hostvars[inventory_hostname]['alertmanager'] |
      community.general.json_query(lookup('ansible.builtin.vars',
      'alertmanager_restart', default='')) == 'true'"
  vars:
    alertmanager_restart:
      "[].restart[] | map(&alertmanager || 'false', @) | [0]"
